<footer id="site-footer">
  <div class="wrapper">

    <div id="footer-menu" class="footer-section">
      <h4>Kuvakazim</h4>
      <ul class="nav">



        <li><a href="/">Home</a></li>

        <li><a href="/info/m-democracy-resources">Democracy Resources</a>

        </li>

        <li><a href="http://www.kuvakazim.com/info/political-parties">Political Parties</a></li>

        <li><a href="/info/m-parliament">Parliament</a>

        </li>

        <li><a href="http://www.kuvakazim.com/blog/">Blog</a></li>

        <li><a href="/info/m-news">News</a>

        </li>

        <li><a href="/info/m-about">About</a>

        </li>



      </ul>
    </div>

    <div class="footer-section">
      <h4>About</h4>
      <ul class="utilities">
        <li><a href="/info/policies">Privacy</a></li>
        <li><a href="/feedback/?url=http://www.kuvakazim.com/" class="feedback_link">Give us feedback</a></li>




      </ul>
    </div>

  </div>

  <div class="attribution">

    <p>This site runs on <a href="https://github.com/mysociety/pombola">open source code</a> written by <a href="http://www.mysociety.org">mySociety</a>.</p>




  </div>
</footer>
