<head>
  <meta charset="utf-8">

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
  <meta http-equiv="cleartype" content="on">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>
    {% if page.title %}
    {{ page.title }} :: {{ site.title }}
    {% else %}
    {{ site.title }}
    {% endif %}
  </title>

  <link href="//platform.twitter.com" rel="dns-prefetch" />
  <!--[if IE 9]>
    <link href="http://platform.twitter.com/" rel="prefetch" />
  <![endif]-->

  <link href="http://www.kuvakazim.com/static/css/core.abd249c7af55.css" rel="stylesheet" type="text/css" />

  <link href="http://www.kuvakazim.com/static/css/zimbabwe.f753013b63d6.css" rel="stylesheet" type="text/css" />

  <script type="text/javascript" charset="utf-8">

var pombola_run_when_document_ready_array = [];

function pombola_run_when_document_ready (func) {
if ( window.$ ) {
  $(func);
} else {
  pombola_run_when_document_ready_array.push( func );
}
}

window.pombola_settings = {
google_analytics_account : 'UA-45828301-1',
static_url:                'http://www.kuvakazim.com/static/',
extra_js: [],
map_bounds: {
  north: -15.611,
  east:  33.057,
  south: -22.425,
  west:  25.237
},
crosshairs_image: 'http://www.kuvakazim.com/static/images/crosshairs.9809ff8a2f7f.png'
};

function addExtraJS(jsURLs) {
Array.prototype.push.apply(
    pombola_settings.extra_js, jsURLs
    );
}

(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', pombola_settings.google_analytics_account);
ga('send', 'pageview');


pombola_settings.extra_js.push( 'js/feeds.js' );


  </script>

  <!--[if (lt IE 9) & (!IEMobile)]>
    <script type="text/javascript" src="http://www.kuvakazim.com/static/js/libs/respond.1.0.1.min.a23cf0899a72.js"></script>
  <![endif]-->


  <script type="text/javascript" charset="utf-8">

/* We want to be able to use the Javascript assets
compressed and fingerprinted by django-pipeline from
loader.js, which dynamically decides what Javascript to
load. At the moment, the only easy (but rather ugly) way
of doing this is to specify a template for the
Javascript packages that outputs a quoted and
escaped-for-Javascript-strings version of the URL, with
a trailing comma.  Then we can wrap these into an array
in the code below.  Since some Javascript
implementations error on a trailing comma in an array,
we also have to add a null, which we then immediate
remove. */

  var pipeline_desktop_only = [
    "http://www.kuvakazim.com/static/js/desktop_only.ddf3ec017079.js",
    null
  ];
  pipeline_desktop_only.pop();

  var pipeline_mobile_only =  [
    "http://www.kuvakazim.com/static/js/mobile_only.a153fee1757f.js",
    null
  ];
  pipeline_mobile_only.pop();

  var pipeline_desktop_and_mobile =  [
    "http://www.kuvakazim.com/static/js/desktop_and_mobile.d660510124c8.js",
    null
  ];
  pipeline_desktop_and_mobile.pop();

  var pipeline_analytics =  [
    "http://www.kuvakazim.com/static/js/analytics.6ff565dcf98f.js",
    null
  ];
  pipeline_analytics.pop();

  </script>

  <script type="text/javascript" src="http://www.kuvakazim.com/static/js/modernizr_and_loader.6814984fd8b8.js" charset="utf-8"></script>

  <link rel="icon" type="image/png" href="http://www.kuvakazim.com/static/images/favicon.73257d59f505.png">
</head>
