<header id="site-header">
  <div class="wrapper">

    <a href="/" id="logo">Kuvakazim</a>

    <menu id="mobile-top-tools">
      <ul>
        <li><a href="#footer-menu" class="m-icon-nav">menu</a></li>
        <li><a href="/search/" class="icon-search">{% image 'search-icon.png' %}</a></li>
      </ul>
    </menu>

    <form action="/search/" method="get" id="header-search">
      <select class="search-autocomplete-name js-search-autocomplete-name">
        <option>name, place, party</option>
        {% for person in site.assembly_people %}
        <option value="{{ person.url }}">{{ person.name }}</option>
        {% endfor %}
        {% for person in site.senate_people %}
        <option value="{{ person.url }}">{{ person.name }}</option>
        {% endfor %}
        {% for area in site.areas %}
        <option value="{{ area.url }}">{{ area.name }}</option>
        {% endfor %}
        {% for organization in site.organizations %}
        <option value="{{ organization.url }}">{{ organization.name }}</option>
        {% endfor %}
      </select>
    </form>
  </div>
</header>
