<div id="main-menu">
  <nav class="wrapper">
    <ul>

      <li><a href="{{ site.url }}{{ site.baseurl }}/">Home</a></li>

      <li><a href="{{ site.url }}{{ site.baseurl }}/info/m-democracy-resources">Democracy Resources</a>

        <ul id="m-democracy-resources">
          <li>
            <a href="{{ site.url }}{{ site.baseurl }}/info/citizens-rights-freedoms"> Citizens Rights &amp; Freedoms </a>
          </li>
          <li>
            <a href="{{ site.url }}{{ site.baseurl }}/info/how-our-democracy-works"> How Our Democracy Works </a>
          </li>
          <li>
            <a href="{{ site.url }}{{ site.baseurl }}/info/constitution--zimbabwe-2013"> Constitution 2013 </a>
          </li>
          <li>
            <a href="{{ site.url }}{{ site.baseurl }}/info/electoral-law-and-legislation"> Electoral Law &amp; Legislation </a>
          </li>
        </ul>

      </li>

      <li><a href="{{ site.url }}{{ site.baseurl }}/info/political-parties">Political Parties</a></li>

      <li><a href="{{ site.url }}{{ site.baseurl }}/info/m-parliament">Parliament</a>

        <ul id="m-parliament">
          <li>
            <a href="{{ site.url }}{{ site.baseurl }}/position/member-of-parliament/">Members of the National Assembly</a>
          </li>
          <li>
            <a href="{{ site.url }}{{ site.baseurl }}/position/senator/">Senators</a>
          </li>
          <li>
            <a href="{{ site.url }}{{ site.baseurl }}/info/ministry-overview">  Ministry Overview  </a>
          </li>
          <li>
            <a href="{{ site.url }}{{ site.baseurl }}/info/committee-overview"> Committee Overview </a>
          </li>
          <li>
            <a href="{{ site.url }}{{ site.baseurl }}/info/women-caucus"> Women Caucus </a>
          </li>
          <li>
            <a href="{{ site.url }}{{ site.baseurl }}/info/bills-overview"> Bills Overview </a>
          </li>
          <li>
            <a href="{{ site.url }}{{ site.baseurl }}/info/hansard"> Hansard </a>
          </li>

        </ul>

      </li>

      <li><a href="{{ site.url }}{{ site.baseurl }}/blog/">Blog</a></li>

      <li><a href="{{ site.url }}{{ site.baseurl }}/info/m-news">News</a>

        <ul>
          <li>
            <a href="{{ site.url }}{{ site.baseurl }}/info/newspapers"> Newspapers </a>
          </li>
          <li>
            <a href="{{ site.url }}{{ site.baseurl }}/info/newsletter"> Newsletter </a>
          </li>
          <li>
            <a href="https://www.facebook.com/kuvakazim"> Facebook </a>
          </li>
          <li>
            <a href="https://twitter.com/kuvakazim"> Twitter </a>
          </li>
        </ul>

      </li>

      <li><a href="{{ site.url }}{{ site.baseurl }}/info/m-about">About</a>

        <ul id="about">
          <li>
            <a href="{{ site.url }}{{ site.baseurl }}/info/about"> About Us </a>
          </li>
          <li>
            <a href="{{ site.url }}{{ site.baseurl }}/info/kuvakazim-overview"> Kuvakazim Overview </a>
          </li>
          <li>
            <a href="{{ site.url }}{{ site.baseurl }}/info/our-history"> Our History </a>
          </li>
          <li>
            <a href="{{ site.url }}{{ site.baseurl }}/info/get-involved"> Get Involved </a>
          </li>
          <li>
            <a href="{{ site.url }}{{ site.baseurl }}/info/privacy-policy"> Privacy Policy </a>
          </li>
          <li>
            <a href="{{ site.url }}{{ site.baseurl }}/info/contact"> Contact Us </a>
          </li>
        </ul>

      </li>



    </ul>
  </nav>
</div>
