<div id="main-menu">
  <nav class="wrapper">
    <ul>

      <li><a href="/">Home</a></li>

      <li><a href="/info/m-democracy-resources">Democracy Resources</a>

        <ul id="m-democracy-resources">
          <li>
            <a href="/info/citizens-rights-freedoms"> Citizens Rights &amp; Freedoms </a>
          </li>
          <li>
            <a href="/info/how-our-democracy-works"> How Our Democracy Works </a>
          </li>
          <li>
            <a href="/info/constitution--zimbabwe-2013"> Constitution 2013 </a>
          </li>
          <li>
            <a href="/info/electoral-law-and-legislation"> Electoral Law &amp; Legislation </a>
          </li>
        </ul>

      </li>

      <li><a href="/info/political-parties">Political Parties</a></li>

      <li><a href="/info/m-parliament">Parliament</a>

        <ul id="m-parliament">
          <li>
            <a href="/position/member-of-parliament/">Members of the National Assembly</a>
          </li>
          <li>
            <a href="/position/senator/">Senators</a>
          </li>
          <li>
            <a href="/info/ministry-overview">  Ministry Overview  </a>
          </li>
          <li>
            <a href="/info/committee-overview"> Committee Overview </a>
          </li>
          <li>
            <a href="/info/women-caucus"> Women Caucus </a>
          </li>
          <li>
            <a href="/info/bills-overview"> Bills Overview </a>
          </li>
          <li>
            <a href="/info/hansard"> Hansard </a>
          </li>

        </ul>

      </li>

      <li><a href="/blog/">Blog</a></li>

      <li><a href="/info/m-news">News</a>

        <ul>
          <li>
            <a href="/info/newspapers"> Newspapers </a>
          </li>
          <li>
            <a href="/info/newsletter"> Newsletter </a>
          </li>
          <li>
            <a href="https://www.facebook.com/kuvakazim"> Facebook </a>
          </li>
          <li>
            <a href="https://twitter.com/kuvakazim"> Twitter </a>
          </li>
        </ul>

      </li>

      <li><a href="/info/m-about">About</a>

        <ul id="about">
          <li>
            <a href="/info/about"> About Us </a>
          </li>
          <li>
            <a href="/info/kuvakazim-overview"> Kuvakazim Overview </a>
          </li>
          <li>
            <a href="/info/our-history"> Our History </a>
          </li>
          <li>
            <a href="/info/get-involved"> Get Involved </a>
          </li>
          <li>
            <a href="/info/scorecard"> Scorecard FAQs </a>
          </li>
          <li>
            <a href="/info/privacy-policy"> Privacy Policy </a>
          </li>
          <li>
            <a href="/info/contact"> Contact Us </a>
          </li>
        </ul>

      </li>



    </ul>
  </nav>
</div>
