<select class="search-autocomplete-name js-search-autocomplete-name">
  <option>name, place, party</option>
  {% for person in site.assembly_people %}
  <option value="{{ person.url }}">{{ person.name }}</option>
  {% endfor %}
  {% for person in site.senate_people %}
  <option value="{{ person.url }}">{{ person.name }}</option>
  {% endfor %}
  {% for area in site.areas %}
  <option value="{{ area.url }}">{{ area.name }}</option>
  {% endfor %}
  {% for organization in site.organizations %}
  <option value="{{ organization.url }}">{{ organization.name }}</option>
  {% endfor %}
</select>
