<div class="social-sharing">
  <ul class="tools">
    <li>
      <a  href="https://www.facebook.com/sharer/sharer.php?u={{ page.url | prepend: site.url | cgi_escape }}&amp;t={{ page.name | cgi_escape }}"
          target="_blank"
          class="button button--social button--social--facebook button--full-width"
          >Share on Facebook</a>
    </li>
    <li>
      <a  href="https://twitter.com/share?via={{ site.twitter_username }}&amp;text={{ page.name | cgi_escape }}&amp;url={{ page.url | prepend: site.url | cgi_escape }}"
          target="_blank"
          class="button button--social button--social--twitter button--full-width"
          >Share on Twitter</a>
    </li>
    {% if page.email %}
        <li>
          {% writeinpublic_link page.id %}
            Write to {{ page.name }} on WriteInPublic
          {% endwriteinpublic_link %}
        </li>
    {% endif %}
  </ul>
</div>
