---
layout: default
---

{% assign area = page %}

<div class="title-space">
  <h1>{{ area.name }}</h1>
  <p class="object-kind">Constituency</p>
</div>

<div class="profile-pic">
  {% image 'place-200x200.jpg' %}
</div>

<div class="profile-info">
  {% include social.html %}
</div>

<div class="large-container">

  <h2>Current Politicians Representing {{ area.name }}</h2>

  <ul class="listing">
    {% for membership in area.memberships %}
    {% assign person = membership.person %}
    {% assign organization = membership.organization %}
    {% assign party = membership.party %}
    <li>
      <a href="{{ person.url }}">
        <img src="{{ person.image }}" alt="{{ person.name }}" width="90" height="75" />
      </a>

      <section>
        <h4><a href="{{ person.url }}">{{ person.name }}</a></h4>

          Constituency: <a href="{{ area.url }}">{{ area.name }}</a> |
          Party <a href="{{ party.url }}">{{ party.name }}</a>

        <div class="read-more-wrap"><a href="{{ person.url }}" class="read-more">read more</a></div>

      </section>
    </li>
    {% endfor %}
  </ul>

  {% include comments.html %}

</div>
