---
layout: default
---

{% assign area = page %}

<div class="title-space">
  <h1>{{ area.name }}</h1>
  <p class="object-kind">Constituency</p>
</div>

<div class="profile-pic">
  <img src="/images/place-200x200.jpg">
</div>

<div class="profile-info">
  {% include social.html %}
</div>

<div class="large-container">

  <h2>Current Politicians Representing {{ area.name }}</h2>

  <ul class="listing">
    {% for membership in area.memberships %}
      {% include membership_item.html %}
    {% endfor %}
  </ul>

  {% include comments.html %}

</div>
