---
layout: default
---

{% assign organization = page %}

<div class="title-space">
  <h1>{{ organization.name }}</h1>
  <p>Political Party</p>
</div>

<div class="profile-pic">
  {% if organization.image.to_s == blank %}
    <img src="/images/organisation-210x210.jpg">
  {% else %}
    <img src="{{ organization.image }}" alt="{{ organization.name }}" width="50" />
  {% endif %}
</div>


<div class="profile-info">
  {% include social.html %}
</div>

<div class="large-container">

  <h2>Current Politicians Representing {{ organization.name }}</h2>

  <ul class="listing">
    {% for membership in organization.memberships %}
      {% include membership_item.html %}
    {% endfor %}
  </ul>

  {% include comments.html %}

</div>
