---
layout: default
---

{% assign organization = page %}
{% include organization_collections.html %}

<script type="text/javascript">

var disqus_shortname = 'kuvakazim';

var disqus_identifier, disqus_developer;

// FIXME
// disqus_identifier = 'organisation-3';

disqus_identifier = undefined;

var disqusScriptTagsAdded = {};

function addDisqusScriptTag (name) {
  if (!disqusScriptTagsAdded[name]) {
    var dsq = document.createElement('script');
    dsq.type  = 'text/javascript';
    dsq.async = true;
    dsq.src   = 'http://' + disqus_shortname + '.disqus.com/' + name + '.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    disqusScriptTagsAdded[name] = true;
  }
}

// Load the correct tag using either of these lines in your code. Don't worry
// about repeating them, subsequent calls are ignored. Annoyingly the 'embed'
// one produces an exception if it can't find the element it wants :(
//
// addDisqusScriptTag('embed');
// addDisqusScriptTag('count');

</script>

<div class="title-space">

  <h1>{{ organization.name }}</h1>

  <p>Political Party</p>

  <div class="object_menu">
    <nav>
      <ul>

        <li>Overview</li>

        <li><a href="{{ organization.url }}people/">People</a></li>

        <li><a href="{{ organization.url }}contact_details/">Contact details</a></li>

        <script type="text/javascript" charset="utf-8">
addDisqusScriptTag('count');
        </script>

      </ul>
    </nav>
  </div>

</div>

<div class="profile-pic">

  <img src="http://www.kuvakazim.com/static/images/organisation-210x210.jpg"


       srcset="http://www.kuvakazim.com/static/images/organisation-210x210.jpg"

       alt="{{ organization.name }}">
</div>


<div class="profile-info">

  {% include social.html %}

</div>

<div class="large-container">






  <h2>People</h2>

  <p>
  There
  are
  <a href="{{ organization.url }}people/">
    {{ memberships | size }}
    people
  </a>
  related to {{ organization.name }}.
  </p>











  <h2>Comments</h2>



  <script type="text/javascript" charset="utf-8">
addDisqusScriptTag('embed');
  </script>

  <div>
    <div class="disqus_help">
      (For <strong>newest</strong> comments first please choose 'Newest' from the 'Discussion' tab below.)
    </div>
    <div id="disqus_thread"></div>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
  </div>





</div>
