---
layout: default
---

{% assign person = page %}
{% include person_collections.html %}

<div class="title-space">

  <h1>{{ person.name }}</h1>

  <p>Politician Profile Page</p>

  <div class="object_menu">
    <nav>
      <ul>
        <li>Overview</li>
        <li><a href="{{ person.url }}experience/">Experience</a></li>
        <li><a href="{{ person.url }}contact_details/">Contact details</a></li>
      </ul>
    </nav>
  </div>

</div>

<div class="profile-pic">
  <img src="{{ person.image }}" srcset="{{ person.image }}" alt="{{ person.name }}">
</div>

<div class="profile-info">

  <div class="sidebar">
    <div class="constituency-party">

      <h3>Constituency</h3>
      <ul>
        <li><a href="{{ area.url }}">{{ area.name }}</a></li>
      </ul>

      <h3>
        Party
      </h3>
      <ul class="party-memberships">

        <li><a href="{{ party.url }}" class="party-membership party-membership--political-party">{{ party.name }}</a></li>

      </ul>
    </div>
  </div>


  {% include social.html %}

</div>

<div class="large-container">

  {% if person.executive_positions.size > 0 %}
  <h2>Experience</h2>
  <ul>
    {% for position in person.executive_positions %}
    <li>
      {% if position.organisation %}
      Organisation: {{ position.organisation }}<br>
      {% endif %}
      {% if position.role %}
      Role: {{ position.role }}<br>
      {% endif %}
      <small>
        {% if position.start_date %}
        {{ position.start_date }} -
        {% endif %}
        {% if position.end_date %}
        {{ position.end_date }}
        {% endif %}
      </small>
    </li>
    {% endfor %}
  </ul>
  {% endif %}

  <h2>Education</h2>

  <ul>
  {% for education in person.education %}
    <li>{{ education.role }}</li>
  {% endfor %}
  </ul>

  {% include comments.html %}

</div>
