---
layout: default
---

{% assign person = page %}
{% include person_collections.html %}

<div class="title-space">
  <div class="profile-pic">
    <img src="{{ person.image }}" srcset="{{ person.image }}" alt="{{ person.name }}">
  </div>
  <div class="title-space__name">
    <h1>{{ person.name }}</h1>
    <p>Politician profile</p>
  </div>
</div>



<div class="profile-info">

  <div class="sidebar">
    <div class="constituency-party">

      {% if area %}
      <h3>Constituency</h3>
      <ul>
        <li><a href="{{ area.url }}">{{ area.name }}</a></li>
      </ul>
      {% endif %}

      <h3>Party</h3>
      <ul class="party-memberships">
        <li><a href="{{ party.url }}" class="party-membership party-membership--political-party">{{ party.name }}</a></li>
      </ul>
    </div>
  </div>


  {% include social.html %}

</div>

<div class="large-container profile-bulk">

  {% if person.summary %}
  <h2>Summary</h2>
  <div class="person-summary">
    <p>{{ person.summary }}</p>
  </div>
  {% endif %}

  {% if person.executive_positions.size > 0 %}
  <h2>Experience</h2>
  <ul class="unstyled-list">
    {% for position in person.executive_positions %}
    <li>
      <a href="{{ position.executive_positions_by_role.url }}" class="experience__item">
      {% if position.role %}
        <span class="experience__role">
        {{ position.role }}
        </span>
      {% endif %}
      {% if position.organisation %}
        {% if position.role %}
          at
        {% endif %}
        {{ position.organisation }}
      {% endif %}

      <span class="experience__term">
        {% if position.start_date %}
        {{ position.start_date }}
        {% endif %}
        {% if position.end_date and position.end_date != position.start_date %}
        &ndash; {{ position.end_date }}
        {% endif %}
      </span>
      </a>
    </li>
    {% endfor %}
  </ul>
  {% endif %}

  {% if person.job_history.size > 0 %}
  <h2>Job history</h2>
  <ul class="unstyled-list">
    {% for job in person.job_history %}
    <li class="experience__item">
      {% if job.role %}
      <span class="experience__role">
        {{ job.role }}
      </span>
      {% endif %}
      {% if job.organisation %}
        {% if job.role %}
        at
        {% endif %}
          {{ job.organisation }}
        {% endif %}

      <span class="experience__term">
        {% if job.start_date %}
        {{ job.start_date }}
        {% endif %}
        {% if job.end_date and job.end_date != job.start_date %}
        &ndash; {{ job.end_date }}
        {% endif %}
      </span>
    </li>
    {% endfor %}
  </ul>
  {% endif %}

  {% if person.education.size > 0 %}
  <h2>Education</h2>
  <ul class="unstyled-list">
  {% for education in person.education %}
    <li>{{ education.role }}</li>
  {% endfor %}
  </ul>
  {% endif %}

  {% include comments.html %}

</div>
