---
layout: default
permalink: /position/member-of-parliament/
title: Member of the National Assembly
---

<h1 class="page-title">Members of the National Assembly</h1>

<div class="content_box">
  <h3>Current Position Holders</h3>

  <div class="search-filters">
    <form method="get">
      <label for="place_slug">Constituency</label>

      <select name="place_slug" id="place_slug">
        <option value="">All</option>
        {% for area in site.assembly_areas %}
          <option value="{{ area.id }}">{{ area.name }}</option>
        {% endfor %}
      </select>

      <input type="submit" value="Search" />
    </form>
  </div>

  <ul class="position-listing">
    {% for person in site.assembly_people %}
    {% include person_collections.html %}
    <li class="position">
      <a href="{{ person.url }}">
        <div class="image-wrapper">
          <img src="{{ person.image }}" alt="{{ person.name }}" />
        </div>
        <span class="listing__name">{{ person.name }}</span> <a class="listing__party" href="{{ party.url }}">{{ party.name }}</a>
      </a>

      <div>
        <a class="listing__area" href="{{ area.url }}">{{ area.name }}</a>
      </div>

    </li>
    {% endfor %}
  </ul>

</div>
